.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FDFBF7;
  position: relative;
  overflow-x: hidden;

  // L'IMAGE DE FOND
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 335px; 
    background-image: url('../../../../assets/footer-pattern.png');
    background-size: cover;
    background-position: bottom center;
    pointer-events: none;
    z-index: 1;
  }

  .hero-section {
    display: flex;
    align-items: center;
    padding: 60px 10%;
    min-height: 400px;
    position: relative;
    z-index: 10;

    .hero-content {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
    }

    .text-side h1 {
      font-family: 'Red Hat Display', sans-serif;
      font-size: 5rem;
      font-weight: 900;
      line-height: 0.85;
      max-width: 700px;
      margin: 0;
      color: #000;
      letter-spacing: -2px;
    }

    .search-side .search-bar-container {
      display: flex;
      align-items: center;
      border: 3px solid #000;
      border-radius: 80px;
      padding: 8px 25px;
      width: 350px;
      background: #fffbf3;
      transition: box-shadow 0.3s ease;

      &:focus-within {
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
      }

      input {
        border: none;
        outline: none;
        flex: 1;
        font-size: 1.1rem;
        background: transparent;
      }
      
      .search-btn {
        background: none;
        border: none;
        cursor: pointer !important;
        padding-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        .search-icon {
          width: 25px;  // Ajuste la taille de la loupe ici
          height: auto;
          transition: transform 0.2s ease;
        }

        &:hover .search-icon {
          transform: scale(1.2); // La loupe grossit un peu au survol
        }
      }
    }
  }
}

.results-container {
  padding: 50px 10%;
  position: relative;
  z-index: 15;
  margin-bottom: 50px; 

  .events-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;

    .event-card {
      background: white;
      border: 3px solid #000;
      border-radius: 25px;
      overflow: hidden;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        transform: translateY(-10px) rotate(1deg);
      }

      .card-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-bottom: 3px solid #000;
      }

      .card-content {
        padding: 20px;
        h3 { 
          font-size: 1.4rem; 
          font-weight: 900;
          margin: 0;
        }
        p { margin: 10px 0; font-weight: 500; }
        .date { color: #4A90E2; font-weight: 800; }
      }
    }
  }
}