<div class="home-container">
  <app-navbar></app-navbar>

  <section class="hero-section">
    <div class="hero-content">
      <div class="text-side">
        <h1>You choose your event for tomorrow</h1>
      </div>
      
      <div class="search-side">
        <div class="search-bar-container">
          <input type="text" [(ngModel)]="searchQuery" (keyup.enter)="onSearch()" placeholder="Search for an artist, event...">
          <button class="search-btn" (click)="onSearch()">
            <img src="assets/search.png" alt="Search" class="search-icon">
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="results-container" *ngIf="events.length > 0">
    <div class="events-grid">
      <div class="event-card" 
           *ngFor="let event of events" 
           [routerLink]="['/event', event.id]">
        
        <img [src]="event.images[0]?.url" class="card-img" alt="event image">
        
        <div class="card-content">
          <h3>{{ event.name }}</h3>
          <p>📍 {{ event._embedded?.venues?.[0]?.name }} - {{ event._embedded?.venues?.[0]?.city?.name }}</p>
          <p class="date">📅 {{ event.dates.start.localDate }}</p>
        </div>
      </div>
    </div>
  </section>

  <div class="footer-spacer"></div>
</div>