<app-navbar></app-navbar>

<div class="favorites-page">
  <div class="top-bar">
    <button class="btn-back" (click)="goBack()">
      <img src="assets/back.png" alt="Retour" class="back-icon">
    </button>
    
    <h1 class="page-title">My <span class="highlight">Favorites</span></h1>
    
    <div class="spacer"></div>
  </div>

  <div class="results-container">
    <div class="events-grid" *ngIf="favorites.length > 0; else emptyState">
      <div class="event-card" *ngFor="let fav of favorites" [routerLink]="['/event', fav.id]">
        <img [src]="fav.images[0]?.url" class="card-img" alt="event image">
        <div class="card-content">
          <h3>{{ fav.name }}</h3>
          <span class="date">📅 {{ fav.dates?.start?.localDate }}</span>
        </div>
      </div>
    </div>

    <ng-template #emptyState>
      <div class="empty-msg">
        <p>Ta liste est vide pour le moment... ❤️</p>
        <button class="go-search-btn" routerLink="/home">Chercher un événement</button>
      </div>
    </ng-template>
  </div>

  <div class="footer-pattern-container"></div>
</div>